.letterCell {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.greenLetter {
    background-color: rgb(32, 178, 76);
}

.yellowLetter {
    background-color: palegoldenrod;
    color: black;
}

.redLetter {
    background-color: #888;
}